[submodule "static/layers_osrs"]
	path = static/layers_osrs
	url = https://github.com/mejrs/layers_osrs
[submodule "static/wasm-pathfinder"]
	path = static/wasm-pathfinder
	url = https://github.com/mejrs/wasm-pathfinder
[submodule "static/wasm-pathfinder-data"]
	path = static/wasm-pathfinder-data
	url = https://github.com/mejrs/wasm-pathfinder-data
[submodule "static/data_osrs"]
	path = static/data_osrs
	url = https://github.com/mejrs/data_osrs
